@import "node_modules/bootstrap/scss/bootstrap";

$font: 'PT Serif', sans-serif;
$primary-color: #333333;
$secondary-color: #ffffff;
$third-color: #242220;
$list-item-color: #464445;
$text-color: #6C6869;

* {
    font-family: 'Merriweather Sans', sans-serif;
}

body, html {
    width: 100%;
    margin: 0;
}

header {
    background-color: $primary-color;

    .container {
        .row {
            margin: 0 auto;

            div:nth-child(1) {
                h1 {
                    color: lightgray;
                }

                p {
                    color: lightgray;
                }
            }

            div:nth-child(2) {
                padding: 0;

                nav {
                    background-color: #464445;

                    ul {
                        .nav-link {
                            font-size: 14px;
                            text-decoration: none;
                            color: lightgray;
                        }
                    }
                }
            }
        }
    }
}

/* 1st Row */

#article {
    float: left;

    img {
        float: left;
        padding-bottom: 10px;
    }

    h3 {
        float: left;
        font-size: 15px;
        color: $text-color;
        text-align: left;
        padding: 8px 0 0 8px;
    }

    p {
        float: left;
        font-size: 10px;
        color: $text-color;
        text-align: left;
    }

    a {
        font-size: 12px;
        float: right;
        color: orange;
    }
}

.container {
    .row:nth-child(2) {
        #img-bar {
            padding: 30px 0px 30px 0px;
            border-bottom: solid lightgray 1px;
            border-top: solid lightgray 1px;

            img {
                width: 100%;

                div:nth-child(3) img {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

/* 2nd Row */

.view-more {
    color: orange;

    &:visited {
        color: orange;
    }
}

/* 3rd Row */

#categories {
    .row {
        padding-left: 0px;
        padding-right: 0px;
    }

    #readCategories {
        padding-bottom: 30px;

        img {
            float: left;
        }

        h3 {
            font-size: 15px;
            color: $text-color;
            display: inline;
            padding-left: 20px;
        }

        p {
            font-size: 12px;
            color: $text-color;
            display: table-cell;
            padding: 10px 0 0 20px;
        }

        span {
            color: orange;
        }

        a {
            float: right;
            color: orange;
            font-size: 14px;
            padding-top: 35px;
        }
    }
}

#categoriesList {
    div:nth-child(1) {
        padding-right: 0px;

        h3 {
            font-size: 15px;
            color: $text-color;
            padding-bottom: 20px;
            border-bottom: solid lightgray 1px;
        }

        ul {
            list-style: none;
            padding-left: 0px;

            li {
                font-size: 13px;
                border-bottom: dotted gray 2px;
                padding: 5px 0 5px 5px;

                img {
                    padding-right: 5px;
                }
            }
        }
    }
}

/* Footer */

footer {
    background-color: $primary-color;

    .float-left {
        p {
            font-size: 13px;
            padding-top: 15px;
            color: lightgray;
            float: left;
        }
    }

    .float-right {
        p {
            font-size: 13px;
            padding-top: 15px;
            color: lightgray;
            float: right;
        }
    }
}

/* Responsive */

@media screen and (max-width: 1199px) and (min-width: 1024px) {

    header {
        .container {
            .row {
                div:nth-child(2) {
                    .navbar {
                        .nav {
                            li {
                                .nav-link {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 990px) and (min-width: 768px) {
    header {
        .container {
            .row {
                div:nth-child(1) {
                    text-align: center;
                }

                h1 {
                    font-size: 50px;
                }

                p {
                    font-size: 20px;
                }

                ul {
                    margin: 0 auto;
                }

                div:nth-child(2) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    header {
        .container {
            .row {
                div:nth-child(2) {
                    nav {
                        ul {
                            .nav-link {
                                font-size: 17px;
                                }
                            }
                        }
                    }
                }
            }
        }

    .container {
            .row:nth-child(2) {
                #img-bar {
                    .float-left {
                        img {
                            width: 70%;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

    .container {
        .row:nth-child(1) {
            .article-container {
                #article {
                    p {
                        font-size: 13px;
                    }

                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        .row:nth-child(2) {
            #img-bar {
                div:nth-child(3) {
                    .view-more {
                        small {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .row:nth-child(3) {
            #categories {
                .row {
                    #readCategories {
                        h3 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }

            #categoriesList {
                margin-bottom: 24px;

                div {
                    h3 {
                        font-size: 20px;
                    }

                    ul {
                        li {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    }

@media screen and (max-width: 460px) and (min-width: 320px) {
    
    header {
        .container {
            .row {
                div:nth-child(1) {
                    text-align: center;
                }
                div:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .container {
        .row:nth-child(2) {
            #img-bar {
                .float-left {
                    padding-bottom: 20px;
                }
            }
        }
        .row:nth-child(3) {
            #categories {
                .row {
                    #readCategories {
                        img {
                            float: none;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            #categoriesList {
                margin-bottom: 20px;
                div {
                    h3 {
                        text-align: center;
                        font-size: 17px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    footer {
        .container {
            .row {
                .float-left {
                    p {
                        float: none;
                        text-align: center;
                    }
                }

                .float-right {
                    p {
                        float: none;
                        text-align: center;
                    }
                }
            }
        }
    }
}



